adr-tools 3.0.0
awscli 2.13.17
checkov 2.3.234
golang 1.21.1
golangci-lint 1.54.2
pre-commit 3.4.0
terraform 1.5.7
terraform-docs 0.16.0
tflint 0.48.0
tfsec 1.28.4
# renovate: datasource=github-tags depName=defenseunicorns/zarf
zarf 0.29.2
